<div class="game">
    <div class="row" id="cpuPlayers">
        <div class="text-center col-xs-{{calculateXsCpuSize(player)}} col-sm-{{12 / cpuPlayerCount}}" ng-repeat="player in game.players | filter:isCpu">
            <div class="no-padding alert" ng-class="{'alert-eliminated': !player.active, 'alert-warning': (player.active && game.getCurrentPlayer() == player), 'alert-default': (player.active && game.getCurrentPlayer() != player)}">
                <p class="lead"><i class="fa {{player.properties.icon}}"></i><span ng-class="{'hidden-xs': game.getCurrentPlayer() != player}"> {{player.properties.name}}</span><span ng-show="player.active && game.getCurrentPlayer() == player"> <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span></p>
            </div>
        </div>
    </div>


    <div ng-hide="game.lastCard == null" class="card" ng-style="{'height': cardHeight, 'width': cardWidth, 'margin-top': verticalMargin, 'margin-bottom': verticalMargin, 'right': cardPosition}">
        <div style="display: table-cell; vertical-align: middle;">
            <div>
                <span ng-bind-html="translateCard(game.lastCard).played"></span>
            </div>
        </div>
    </div>


    <div class="card card-back" ng-class="settings.getCardDesign().cssClass" ng-show="game.deck.stockRemaining()" ng-style="{'height': cardHeight, 'width': cardWidth, 'margin-top': verticalMargin, 'margin-bottom': verticalMargin, 'left': cardPosition}">
        <div style="display: table-cell; vertical-align: middle;">
            <div>
                <span ng-show="heightLimited()">Count: {{game.count}}</span>
            </div>
        </div>
    </div>


    <footer class="footer" id="footer">
        <h2 class="text-center count" ng-if="!heightLimited()">Count: {{game.count}}</h2>
        <div class="panel panel-default" ng-class="{'panel-warning': game.getCurrentPlayer() == getHumanPlayer(), 'panel-limited-height': heightLimited()}">
            <div class="panel-heading" ng-class="{'player-eliminated': !getHumanPlayer().active, 'panel-heading-limited-height': heightLimited()}">
                <div class="row">
                    <div class="col-xs-9 col-sm-10">
                        <p ng-class="{'player-eliminated': !getHumanPlayer().active, 'h4': !heightLimited(), 'h5': heightLimited(), 'player-name-limited-height' : heightLimited()}"><i class="fa {{getHumanPlayer().properties.icon}}"></i> {{getHumanPlayer().properties.name}}</p>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <button type="button" class="btn btn-default btn-block" ng-class="{'btn-lg': !heightLimited(), 'btn-sm': heightLimited()}" ng-click="pause(false)"><i class="fa fa-pause"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-class="{'player-eliminated': !getHumanPlayer().active}">
                <button ng-if="!getHumanPlayer().active" class="btn btn-lg btn-default btn-block" ng-click="finishGame()">Finish Game</button>
                <div class="row">
                    <div class="col-xs-4" ng-repeat="card in getHumanPlayer().hand track by $index">
                        <div ng-if="card.values.length === 1">
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="playCard($parent.$index, 0)" ng-disabled="!game.canPlay(card, 0) || getHumanPlayer() != game.getCurrentPlayer()"><span class="visible-xs-inline" ng-bind-html="translateCard(card).mini"></span><span class="hidden-xs" ng-bind-html="translateCard(card).full"></span></button>
                        </div>
                        <div ng-if="card.values.length !== 1">
                            <button type="button" uib-popover-append-to-body="true" uib-popover-template="'multipleCards.html'" uib-popover-trigger="focus" class="btn btn-primary btn-lg btn-block" ng-disabled="!game.canPlayAny(card) || getHumanPlayer() != game.getCurrentPlayer()"><span class="visible-xs-inline" ng-bind-html="translateCard(card).mini"></span><span class="hidden-xs" ng-bind-html="translateCard(card).full"></span></button>
                        </div>
                    </div>

                    <script type="text/ng-template" id="multipleCards.html">
                        <div class="row">
                            <div class="col-xs-{{12 / card.values.length}}" ng-repeat="choice in card.values track by $index">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="!game.canPlay(card, $index) || getHumanPlayer() != game.getCurrentPlayer()" ng-click="playCard($parent.$index, $index)"><span class="visible-xs-inline">{{translateCard(card, $index).mini}}</span><span class="hidden-xs">{{translateCard(card, $index).full}}</span></button>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </footer>

</div>