<div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <a class="btn btn-primary btn-lg btn-block" ui-sref="newgame">New Game</a>
        <a class="btn btn-primary btn-lg btn-block" ui-sref="instructions">Instructions</a>
        <a class="btn btn-primary btn-lg btn-block" ui-sref="stats">Stats and Unlockables</a>
        <a class="btn btn-primary btn-lg btn-block" ui-sref="settings">Settings</a>
        <a class="btn btn-primary btn-lg btn-block" ui-sref="credits">Credits</a>
    </div>
</div>
