<div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="newGame()">New Game</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="viewInstructions()">Instructions</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="viewStats()">Stats and Unlockables</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="settings()">Settings</button>
    </div>
</div>
