<nav class="navbar navbar-default navbar-fixed-top" ng-show="visible()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-show="optionsButtonFunc() != null" ng-click="optionsButtonFunc()()">
                {{optionsButtonText()}}
            </button>
            <span class="navbar-brand" ng-class="{'pointer': backButtonFunc() != null}" ng-click="backButtonFunc()()">
                <span class="pointer" ng-show="backButtonFunc() != null"><i class="fa fa-chevron-left"></i> </span>
                <span><img alt="Ninety-Nine" src="images/icon.png" class="brand-icon"> {{title()}}</span>
            </span>
        </div>

        <div class="collapse navbar-collapse" ng-show="optionsButtonFunc() != null">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="pointer" ng-click="optionsButtonFunc()()">{{optionsButtonText()}}</a></li>
            </ul>
        </div>
    </div>
</nav>