body {
    height: 100%;
    min-height: 100%;
}

.navbar-padding {
    padding-top: 70px;
}

html,
.container {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.background-game {
    background-color: #004700;
    background-image: "images/felt.jpg";
}

.count {
    color: white;
}

.card-button {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(to bottom, white, snow);
    cursor: pointer;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(to bottom, white, snow);
    position: absolute;
}

.player-card {
    padding: 0;
}

.player-out {
    text-decoration: line-through;
}


/* Modified from http://lea.verou.me/css3patterns/#marrakesh */

.card-back {
    background-color: white;
    background-image: radial-gradient(midnightblue 3px, transparent 3px), repeating-radial-gradient(midnightblue 0, midnightblue 1px, transparent 2px, transparent 5px, midnightblue 7px, midnightblue 8px, transparent 8px, transparent 17px);
    background-size: 10px 10px, 30px 30px;
    background-position: 0 0;
}

.game {
    padding: 2em 0em;
}

.achievement {
    position: fixed;
    width: 40%;
    left: 30%;
    top: 50px;
    z-index: 9999;
}

.achievement-image {
    width: 60px;
    height: 60px;
    padding: 2px;
    font-size: 2em;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.alert-eliminated {
  background-color: #444444;
  border-color: #444444;
  color: #7c7c7c;
  text-decoration: line-through;
}

.alert-default {
  background-color: #c8c8c8;
  border-color: #c8c8c8;
  color: black;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}